body {
    margin: 0;
    background-image: url('https://compote.slate.com/images/a92fef3e-c1db-4cbf-93da-dae90c0b9388.jpeg?crop=4395%2C2930%2Cx0%2Cy0');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Променете прозрачността (0.5) за повече/по-малко бледност */
    z-index: -1; /* Уверете се, че е зад съдържанието */
}

#wrapper header {
    background-color: #374151;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Разтяга се по ширината на екрана */
    margin: 0; /* Премахва всякакви автоматични вътрешни отмествания */
    padding: 10px 0; /* Добавя вътрешно разстояние за по-добра видимост */
    z-index: 1000; /* Осигурява видимост над останалите елементи */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавя малка сянка за по-добър ефект */
}

footer {
    background-color: #374151;
    color: rgba(255, 255, 255, 0.804); /* Бял текст */
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
